@media (max-width: 768px) {
  .start-target-display {
    margin-bottom: 0rem;
    padding: 0;
    justify-content: space-between;
    gap: 0.1rem;
  }

  .start-word,
  .target-word {
    padding: 0.5rem 0;
  }

  .start-word h3,
  .target-word h3 {
    font-size: 1.3rem;
    margin: 0;
    padding: 0.5rem 0;
  }

  .start-word p,
  .target-word p {
    font-size: 0.5rem;
  }

  .arrow {
    font-size: 2rem;
  }
}
