@media (max-width: 768px) {
  .game-content {
    gap: 3rem;
  }

  .game-container {
    gap: 0;
  }

  .game-actions {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 2rem;
    flex-wrap: wrap;

  }

  .game-actions .btn {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}
